
<div class="chat-container">
  <mat-card class="main-card">
    <h4 mat-line>
      <!--<b>BMR</b>-->
    </h4>
    <div>
      <button mat-raised-button color="primary" (click)="initiateConnection()">Start</button>
    </div>
  </mat-card>
</div>
