<mat-sidenav-container fullscreen>

  <div>
    <mat-toolbar color="primary">
      <span>GameOn</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
